body {
  background-color: black;
}

.white-border {
  height: 200px;
  width: 100%;
  border: 5px solid white;
  /* padding-top:200px; */
}

.dot {
  background-color: white;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 6px 6px 6px; */
  text-align: center;
  margin-left: 40%;
}

.center {
  width: 100%;
  
}

.red-mark {
  background-color: red;
}

.indicator {
  background-color: blue;
}